.sidebar {
    position: relative;
    height: 100%;
    background-color: #094f89;
    transition: width 0.3s;
    overflow-x: hidden;
    white-space: nowrap;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}


.sidebar.open {
    width: 200px;
}

.sidebar.closed {
    width: 80px;
}

